.loader {
  border-radius: 50%;
  border: 2px solid;
  animation: rotateLoader 1s linear infinite;
}

@keyframes rotateLoader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
